<%-include('../partials/header');-%>

<h1>Admin Tools</h1>

<p><a href="/admin/manage_products">Manage Products</a></p>
<p><a href="/admin/manage_orders">Manage Orders</a></p>

<%-include('../partials/footer');-%>
