<%-include('partials /header');-%>

<h1>Sign up</h1>
<form action="/api/users" method="POST">
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="email" placeholder="">

        <div class="name-group">
            <label>First Name</label>
            <input name="firstName" type="text" class="form-control" placeholder="">

            <label>Last Name</label>
            <input name="lastName" type="text" class="form-control" placeholder="">
        </div>

        <label>Password</label>
        <input type="text" class="form-control" name="password" placeholder="">
    </div>

    <button type="submit" class="btn btn-primary" name="button">Sign up</button>

</form>

<%-include('partials /footer');-%>
